    .userbutton {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 5px;
  }

  .userbutton:disabled{
    color:red
  }

  .listheading{
    color:rgba(11, 19, 90, 0.788);
    text-align: cennter;
    text-align:justify;  
    font-style: bold;
    padding:10px;
    margin: 12px 12px 12px 12px
  }